node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.db.json
packages/server/dist
packages/server/.data
*/.data
*/.data/*
packages/server/.cache
*/.cache
*/.cache/*
packages/server/.data/gist.log
packages/server/.data/schedule.json
packages/server/.data/sqlite.db
packages/server/dist
