name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"

      - name: Set web environment variables
        env:
          VARS_JSON: ${{ toJSON(vars) }}
        run: |
          # Convert repository variables to VITE_ prefixed variables
          echo "$VARS_JSON" | jq -r 'keys[] as $k | "VITE_\($k)=\(.[$k])"' >> $GITHUB_ENV

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test

      - name: SSH deploy
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          TARGET: /home/deployments/cronny
          EXCLUDE: /packages/server/.data/, /packages/server/.cache/
